
    section { padding: 50px 0; border-bottom: 1px solid #ccc; }
    .card:hover { transform: scale(1.05); transition: 0.3s; }
    footer { background: #222; color: #fff; text-align: center; padding: 20px; }
    body {
      background-color: #F5F5F2;
    }
    .add-to-cart {
      background-color: #1995ad;
      color: white;
    }

/* نضبط الناف بار – الزر يمين والشعار يسار */
.navbar {
  background-color: #222;           /* نخلي الخلفية رمادي غامق */
  padding: 10px 20px;              /* نترك فراغ بسيط داخل الشريط من فوق وتحت ومن الجوانب */
  display: flex;                   /* نحول الناف بار لتخطيط مرن */
  flex-direction: row-reverse;    /* نخلي العناصر تمشي من اليمين لليسار (عشان الزر يجي يمين) */
  justify-content: space-between; /* نخلي المسافة متساوية بينهم: زر – شعار */
  align-items: center;            /* نوسّطهم عموديًا */
}


/* نخلي الشعار حجمه مضبوط */
.navbar img {
  height: 40px;
}

/* الزر داخل الناف بار */
.navbar .dropdown .btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

/* يوم نحوم على الزر يتغير لونه */
.navbar .dropdown .btn:hover {
  background-color: #777;
}

/* نخلي القائمة المنسدلة تطلع تحت الزر */
.dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* شكل الروابط داخل القائمة */
.dropdown-menu .dropdown-item {
  padding: 10px 15px;
  color: #333;
}

/* يوم نحوم على الرابط يتغير لونه */
.dropdown-menu .dropdown-item:hover {
  background-color: #eee;
}

ul{
  list-style: none;
  font-size: 10px;
  font-family: Arial;
}
h1{
  font-size: 20px;
  font-family: Arial;
}
/* يوم نحوم على الرابط يتغير لونه */
.dropdown-menu .dropdown-item:hover {
  background-color: #eee;
}


.my-btn {
  display: inline-block;         /* يخلي الزر inline block */
  padding: 10px 20px;            /* مسافة داخلية */
  background-color: #007bff;     /* لون الخلفية */
  color: white;                  /* لون النص */
  text-decoration: none;         /* إزالة خط الرابط */
  border-radius: 50px;            /* حواف دائرية */
  text-align: center;            /* توسيط النص داخل الزر */
}

/* توسيط الزر داخل الصفحة */
.container-center {
  display: flex;
  justify-content: center;  /* أفقياً */
  align-items: center;      /* عمودياً */
  height: 10vh;            /* ارتفاع الصفحة */
}